{% extends 'base.html.twig' %}
{% block title %}
    {{ category }}
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="/css/style.css">

{% endblock %}

{% block body %}
    {% for article in articlePerCat %}

        <h1><a href="{{ path('blog_show', {'slug' : article.title | replace({ ' ' : '-' })}) }}">{{ article.id }} - {{ article.title }}</a></h1>
    <h2>{{ article.category.name }}</h2>
    <small>{{ article.datearticle | date('d-m-Y') }}</small>
    <p>{{ article.content }}</p>

    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'acceuil.
    </a>
{% endblock %}